:root {
  --primary-1: #764ba2;
  --primary-2: #cf9ed1;
  --primary-3: #d8c9ec;
  --primary-4: #FFE8A3;
  --primary-5: #1E7424;


}
 

header{
    background-color: var(--primary-1);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    margin: 1%;
    color: white;
}