:root {
  --primary-1: #764ba2;


}
 

header{
    background-color: var(--primary-1);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    margin: 1%;
    color: white;
}


.post-card {
  width: 18rem;
  align-items: center;
  text-align: center;
}


#feed {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.round-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.liked {
  color: red !important;
  font-weight: bold;
}
